/* @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,600&family=Open+Sans:wght@300;400;500&family=Poppins:wght@400;500;600&family=Racing+Sans+One&family=Roboto+Flex:opsz,wght@8..144,300;8..144,500;8..144,600;8..144,700&family=Roboto+Mono:ital,wght@0,300;0,400;1,300;1,500&family=Roboto:wght@100;300;400;500;700;900&family=Ropa+Sans:ital@0;1&family=Rubik:ital,wght@1,400;1,500&display=swap'); */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color_black: black;
  --color_white: white;
  --color_green: #00B207;
  --color_Secondary:#20b52528;
  --trans: 0.4s;
}

body {
  background-color: #eee !important;
  transition: var(--trans);
  font-family: 'Roboto Flex', sans-serif; 
  overflow-x: hidden;

}

.dark-theme {
  --color_black: green;
  --color_white: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color_green);
  border-radius: 4px;
}

body::-webkit-scrollbar-track {
  background-color: white;
}
.hvh-50{
  height: 50vh;
}